<div class="container">
  <header>
    <div>Flipkart Logo</div>
    <div>
      <input class="search" type="text" placeholder="Search product" [formControl]="searchControl">
    </div>
    <nav>
      <ul>
        <li><a >Home</a></li>
        <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <aside>
      <h4>Filters</h4>
      <div class="form-group">
        <label>Max Price</label>
        <input type="text" placeholder="Enter Max Price" [formControl]="maxPriceControl">
      </div>
      <div class="form-group">
        <label>Minimum Rating</label>
        <input type="number" placeholder="Rating" [formControl]="minRatingControl">
      </div>
    </aside>
    <section>
        <router-outlet></router-outlet>      
    </section>
  </main>
  <footer>
    Copyright@2020
  </footer>
</div>